@font-face {
  font-family: "Ubuntu";
  src: url("fonts/Ubuntu-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Ubuntu", "Courier New", Courier, monospace;
}
